<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recommender.dao.ISectionDao">
    <resultMap id="SectionMap" type="com.example.recommender.entity.Section"></resultMap>
    <select id="getName" resultMap="SectionMap" parameterType="com.example.recommender.entity.Section">
        SELECT secID,secName from Section,recommendResult
        <where>
            recommendResult.secID_watching = #{secId}
            and Section.secID = recommendResult.secID_recommend
        </where>
    </select>
</mapper>

